<div class="detail-container">
  <div class="character-info">
    <img [src]="character.image" alt="character.name" />

    <div class="info-text">
      <h2>{{ character.name }}</h2>
      <p><strong>Status:</strong> {{ character.status }}</p>
      <p><strong>Species:</strong> {{ character.species }}</p>
      <p><strong>Gender:</strong> {{ character.gender }}</p>
      <p><strong>Origin:</strong> {{ character.origin?.name }}</p>
      <p><strong>Location:</strong> {{ character.location?.name }}</p>
    </div>
  </div>

  <div class="episode-list" *ngIf="episodes.length > 0">
    <h3>List of Episodes appearances</h3>
    <ul>
      <li *ngFor="let episode of episodes">
        Episode {{ episode.id }} - {{ episode.name }}
      </li>
    </ul>
  </div>
</div>
