<div>
  <div>
    <img src="assets/404-error.png" alt="404 Not Found" style="width: 100%; max-width: 600px; margin: 0 auto; display: block;">
    <h1>¡Oops! Página No Encontrada</h1>
    <p>Parece que te perdiste en otra dimension.</p>
    <a routerLink="/" style="color: lightblue; text-decoration: none; font-size: 1.2em;">Volver al inicio</a>
  </div>
</div>

<button class="btn btn-primary" style="margin-top: 20px;" routerLink="/">Volver al Inicio</button>

  <footer class="footer">
    <h6>Rick and Morty Wiki - All rights reserved to John Doe SA</h6>
  </footer>
