<nav class="navbar">
  <div class="navbar-left">
    <span class="logo">Rick & Morty</span>
    <a routerLink="/characters" routerLinkActive="active-link">Characters</a>
    <a routerLink="/episodes" routerLinkActive="active-link">Episodes</a>
    <a routerLink="/locations" routerLinkActive="active-link">Locations</a>
  </div>
  <div class="navbar-right">
    <ng-container *ngIf="isLoggedIn; else guestLinks">
      <span class="user-name">{{userName}}</span>
      <hr>
      <a routerLink="/profile" routerLinkActive="active-link">Profile</a>
      <a style="cursor: pointer;" (click)="logout()">Log Out</a>
    </ng-container>
    <ng-template #guestLinks>
      <a routerLink="/login" routerLinkActive="active-link">Login</a>
      <a routerLink="/register" routerLinkActive="active-link">Register</a>
    </ng-template>
  </div>
</nav>
